usn{
display:block;
color:Red;
}

name{
display:block;
color:yellow;
}

college{
display:block;
color:blue;
}

branch{
display:block;
color:violet;
}
year{
display:block;
color:green;
}

email{
display:block;
color:purple;
}


h1{
display:block;
font-size:2em;
margin-top:0.67em;
margin-bottom:0.67em;
margin-left:0;
margin-right:0;
font-weight:bold
}